.reviews-page{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    font-family: verdana;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
}

.review{
    margin-right: 50px;
    margin-left: 50px;
}

.review-header{
    font-family: righteous;
    font-size: 50px;
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 100px){

    .reviews-page{
        display: inline-block;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .review{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 35px;
    }
}
